temp_ico_sizes/
beep.py
typer.py
generate_favicon.py
heart.ico
icon_heart.ico
temp_beep.wav
beep.wav
public/assets/audio/beep.wav
public/assets/audio/beepd.wav
public/nowhere.html
public/poem.html
public/ask/index.n.html
public/kedi/
public/nowhere
public/art
public/ask
public/blog
public/250.html
public/silly.html
public/assets/images/flower_o.png
public/assets/images/flower_c.png

misc.html