public/250.html
public/art
public/ask
public/blog
public/kedi

public/nowhere
public/nowhere.html
public/poem.html
public/silly.html
public/neko.html

public/assets/audio/beep.wav
public/assets/audio/beepd.wav
public/assets/images/flower_c.png
public/assets/images/flower_o.png

public/hell
public/hell
public/hell
public/hell
public/hell
public/hell

beep.py
beep.wav
generate_favicon.py
heart.ico
icon_heart.ico
misc.html
temp_beep.wav
temp_ico_sizes/
typer.py